.idea
.ipynb_checkpoints
test_data/
*parameters.json
*template.json
*.config
project/*/data/
env/

# Removing Azure ML Workbench files
.azuremlhistory_git
.ipynb_checkpoints
azureml-logs
*.dprep.user
.azureml/