{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Welcome!</h1>
        <p>There's nothing really here.  Check out the links above!</p>
        <p>In addition, you can find out more information about Microsoft's approach to machine translation:</p>
        <ul>
            <li><a href="https://www.microsoft.com/en-us/translator/mt.aspx">Machine Translation Info</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/cognitive-services/translator/translator-info-overview">Documentation</a></li>
        </ul>
    </div>
</div>
{% endblock %}
